/* styles.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-size: cover;
}

h2 {
    text-align: center;
}

form {
    width: 600px;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-label {
    width: 100px;
    display: inline-block;
}

.input-text {
    width: calc(100% - 120px);
}

.ui-button-raised {
    margin-top: 10px;
}

.ui-button-flat {
    margin-left: 10px;
}

.form-group {
    margin-bottom: 20px;
}

p:message {
    color: red;
    margin-top: 5px;
    display: block;
}
